.nav{
    grid-area:n;
    background:none;
    border-radius: 12px;
    height: 1080px;
    margin-left:420px;
    padding: 20px;
}
.item  {
    color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
    border: none;
    background-color: transparent;
    height: 50px;
    width: 200px;
}
.item a{
    text-decoration: none;
}
.item a.active{
    color: #0066ff;
    text-decoration: none;
}
