.nav {
    grid-area: n;
    background: none;
    border-radius: 12px;
    min-height: 100vh; /* Вместо фиксированной высоты используем минимальную высоту */
    margin-left: 420px;
    padding: 0px;
}

.item {
    color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
    border: none;
    background-color: transparent;
    height: 30px;
    width: 200px;
}

.item a {
    text-decoration: none;
    color: inherit; /* Наследует цвет от родительского элемента */
    display: block; /* Делает ссылку блочным элементом для полной ширины */
    height: 100%; /* Сделать ссылку полной высоты родительского элемента */
}

.item .active {
    color: #0066ff; /* Изменение цвета текста для активной ссылки */
    font-weight: bold; /* Добавить выделение жирным шрифтом для активного состояния */
}

.item:hover {
    background-color: rgba(0, 0, 0, 0.1); /* Немного подсветить элемент при наведении */
    border-radius: 8px; /* Скруглить углы при наведении */
}