.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1px;
    background-color: #f4f4f4;
    border-radius: 10px;
}

.dashboard img {
    width: 911px;
    height: 277px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 20px;
}

.avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.profilePhoto {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
    object-fit: cover;
}

.profileDetails {
    text-align: center;
    margin-bottom: 20px;
}

.profileDetails h2 {
    font-size: 1.5em;
    font-weight: bold;
    margin: 10px 0;
}

.profileDetails p {
    font-size: 1.1em;
    color: #555;
}

.buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 400px;
}

.red, .eshe {
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #5181b8;
    color: white;
    transition: background-color 0.3s;
}

.red:hover, .eshe:hover {
    background-color: #406e99;
}

.red:active, .eshe:active {
    background-color: #365b82;
}