/* Стили для контейнера предзагрузчика */
.preloaderContainer {
    display: flex;
    justify-content: center; /* Центрируем по горизонтали */
    align-items: center;     /* Центрируем по вертикали */
    height: 100vh;           /* Занимает всю высоту экрана */
    background-color: rgba(255, 255, 255, 0.8); /* Легкий полупрозрачный фон */
    position: fixed;         /* Фиксируем предзагрузчик на экране */
    top: 0;
    left: 0;
    width: 100%;             /* Ширина экрана */
    z-index: 9999;           /* Чтобы предзагрузчик был поверх всего */
}

/* Стили для изображения предзагрузчика */
.preloader {
    width: 100px; /* Ширина изображения предзагрузчика */
    height: 100px; /* Высота изображения */
    animation: rotate 1.5s linear infinite; /* Добавим вращение для эффекта */
}

/* Добавляем анимацию для вращения */
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.usersPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 90px; /* Учитываем ширину navbar */
}

.usersContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    justify-content: center;
    width: 100%;
    max-width: 900px;
}

.userCard {
    background: #ffffff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}
.userAvatar img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.pagination {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.usersContainer {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
}/*фон где расположены пользователи*/
.pageButton {
    background: rgba(255, 255, 255, 0.91);
    border: 1px solid #ccc;
    padding: 5px 10px;
    margin: 2px;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s;
} /*кнопки выюора страницы*/

.pageButton:hover {
    background: #0077ff;
    color: white;
}/* выбор страницы при наведении*/

.selectedPage {
    background: #0077ff;
    color: white;
    font-weight: bold;
}/*активная  страница */
.userCard {
    background: rgba(255, 255, 255, 0.96);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.22);
    display: flex;
    align-items: center;
    gap: 10px;
    width: 410px;
}/*карта пользователей*/
.userName {
    font-weight: bold;
    color: #333;
}

.userStatus {
    font-size: 12px;
    color: #666;
}

.userActions {
    margin-top: 10px;
}

.unfollow, .follow {
    background: #0077ff;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s;
}
.unfollow:hover, .follow:hover {
    background: #005bbf;
}




